@font-face {
    font-family: 'Bebas';
    src: url('fonts/Bebas.eot');
    src: url('fonts/Bebas.eot?#iefix') format('embedded-opentype'),
    url('fonts/Bebas.woff') format('woff'),
    url('fonts/Bebas.ttf') format('truetype'),
    url('fonts/Bebas.svg#Bebas') format('svg');
}

html, body
{
    -webkit-font-smoothing: subpixel-antialiased;
    color: #fff;
    height: 100%;
    overflow: hidden;
    background: #000;
    height: 100%;
    font-family: 'Helvetica Neue', 'Helvetica-Neue', 'Helvetica', 'arial', sans-serif;
}

#wwib
{
    color: #fff;
    text-decoration: none;
}

#wwib a:hover
{
    color: #fff;
    text-decoration: none;
}

.big-text
{
    font-weight:100;
    font-size: 36px;
    line-height: 1.1;
}

.small-text
{
    font-weight:200;
    font-size: 15px;
}

.container
{
    z-index: 100;
}

#backgound-container
{
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
}

.full-background {
    width: 100%;
    height: 100%;
    position: fixed;
    background:url(../img/backgrounds/rain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#background-pattern {
    position: fixed;
    top: 0px;
    left: 0;
    background: url(../img/bg-pattern.png) top right repeat;
    width: 100%;
    height: 100%;
}

#noun-list-wrapper
{
    overflow: hidden;
    height: 100%;
}

#noun-list-container
{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 150%;
}

#main-container
{
    height: 100%;
    display: none;
}

#noun-list li
{
    margin-bottom: 25px;
    cursor: pointer;
    width: auto;
}

textarea:focus, input:focus, button:focus{
    outline: 0;
}

#questionmark
{
    position: absolute;
    top: 3px;
    right: 15px;
}

#search-field-container
{
    position: absolute;
    top: -9px;
    left: 0;
    border: 1px rgba(255,255,255,0.2) solid;
    width: 100%;
}

.row.space
{
    margin-bottom: 15px;
}

#search-field
{
    width: 87%;
    margin: 0;
    background-color: transparent;
    border: none;
    padding: 5px 0px 10px 13px;
}

#response
{
    position: relative;
    top: 172px;
}

#answer-source-container
{
    position: absolute;
    left:0;
    top:-40px;
}

#answer-time
{
    font-family: 'Bebas', sans-serif;
    font-size: 72px;
    -webkit-font-smoothing: antialiased;
}

#loader
{
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 9px;
    padding-left: 18px;
}

#countdown
{
    font-family: 'Bebas', sans-serif;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 2px;
}

#countdown span
{
    font-family: 'Bebas', sans-serif;
    font-size: 25px;
    margin-right: 5px;
    -webkit-font-smoothing: antialiased;
}

#countdown div.slash
{
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

#address-input
{
    width: 75%;
    max-width: 320px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0,0,0,0.5);
    border: 1px rgba(255,255,255,0.5) solid;
    height: 36px;
}

#address-find-button
{
    background-color: rgba(0,0,0,0.5);
    border: 1px rgba(255,255,255,0.5) solid;
    border-left: none;
    height: 36px;
    width: 62px;
}

#address-lookup-error
{
    color: #E9C25D;
}

#address-results
{
    padding-top: 5px;
    background-color: rgba(0,0,0,0.5);
    border: 1px rgba(255,255,255,0.5) solid;
    display: none;
    width: 382px;
    border-top: none;
    max-height: 160px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#address-results li
{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}

#address-results a
{
    cursor: pointer;
}

#address-find-button:hover
{
    background-color: rgba(255,255,255,0.5);
}

#event-tools-wrapper
{
    font-size: 12px;
    margin-top: 15px;
}

#event-tools-wrapper a
{
    color: #FFFFFF;
    cursor: pointer;
}

#background-attribution-container
{
    position: fixed;
    z-index: 200;
    bottom: 5px;
    right: 5px;
    color: #fff;
    opacity: 0.5;
    font-size: 11px;
    display: none;
    font-weight: 100;
    letter-spacing: 1px;
}

#background-attribution-container a
{
    color: #fff;
}

a:hover.text-button
{
    text-decoration: none;
}

.text-button::before,
.text-button::after
{
    display            : inline-block;
    opacity            : 0;
    -webkit-transition : -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition    : -moz-transform 0.3s, opacity 0.2s;
    transition         : transform 0.3s, opacity 0.2s;
}

.text-button::before
{
    margin-right      : 5px;
    content           : '[';
    -webkit-transform : translateX(10px);
    -moz-transform    : translateX(10px);
    transform         : translateX(10px);
}

.text-button::after
{
    margin-left       : 5px;
    content           : ']';
    -webkit-transform : translateX(-10px);
    -moz-transform    : translateX(-10px);
    transform         : translateX(-10px);
}

.text-button:hover::before,
.text-button:hover::after,
.text-button:focus::before,
.text-button:focus::after
{
    opacity           : 1;
    -webkit-transform : translateX(0px);
    -moz-transform    : translateX(0px);
    transform         : translateX(0px);
}

.addthisevent-drop 						{display:inline-block;position:relative;z-index:999998;color:#333;text-decoration:none;text-decoration:none;}
.addthisevent-drop:hover 				{color:#555;text-decoration:none;}
.addthisevent-selected 					{}
.addthisevent_dropdown 					{width:200px;position:absolute;z-index:99999;padding:6px 0px 0px 0px;background:#fff;text-align:left;display:none;margin-top:4px;margin-left:-1px;border-top:1px solid #c8c8c8;border-right:1px solid #bebebe;border-bottom:1px solid #a8a8a8;border-left:1px solid #bebebe;-moz-border-radius:2px;-webkit-border-radius:2px;-webkit-box-shadow:1px 3px 6px rgba(0,0,0,0.15);-moz-box-shadow:1px 3px 6px rgba(0,0,0,0.15);box-shadow:1px 3px 6px rgba(0,0,0,0.15);}
.addthisevent_dropdown span 			{width:175px;display:block;line-height:110%;background:#fff;text-decoration:none;font-size:12px;color:#6d84b4;padding:8px 10px 9px 15px;}
.addthisevent_dropdown span:hover 		{background:#f4f4f4;color:#6d84b4;text-decoration:none;font-size:12px;}
.addthisevent span 						{display:none!important;}
.addthisevent-drop ._url,.addthisevent-drop ._start,.addthisevent-drop ._end,.addthisevent-drop ._summary,.addthisevent-drop ._description,.addthisevent-drop ._location,.addthisevent-drop ._organizer,.addthisevent-drop ._organizer_email,.addthisevent-drop ._facebook_event,.addthisevent-drop ._all_day_event {display:none!important;}
.addthisevent_dropdown .copyx 			{width:200px;height:21px;display:block;position:relative;cursor:default;}
.addthisevent_dropdown .brx 			{width:180px;height:1px;overflow:hidden;background:#e0e0e0;position:absolute;z-index:100;left:10px;top:9px;}
.addthisevent_dropdown .frs 			{position:absolute;top:5px;cursor:pointer;right:10px;padding-left:10px;font-style:normal;font-weight:normal;text-align:right;z-index:101;line-height:110%;background:#fff;text-decoration:none;font-size:9px;color:#cacaca;}
.addthisevent_dropdown .frs:hover 		{color:#6d84b4;}
.addthisevent 							{visibility:hidden;}

@media (max-width: 1200px) {

    .big-text
    {
        font-size: 25px;
    }

    #answer-time
    {
        font-size: 36px;
    }

}