@font-face {
    font-family: 'Bebas';
    src: url('fonts/Bebas.eot');
    src: url('fonts/Bebas.eot?#iefix') format('embedded-opentype'),
    url('fonts/Bebas.woff') format('woff'),
    url('fonts/Bebas.ttf') format('truetype'),
    url('fonts/Bebas.svg#Bebas') format('svg');
}

@font-face {
    font-family: 'district_prothin';
    src: url('fonts/distproth.eot');
    src: url('fonts/distproth.eot?#iefix') format('embedded-opentype'),
    url('fonts/distproth.woff') format('woff'),
    url('fonts/distproth.ttf') format('truetype'),
    url('fonts/distproth.svg#district_prothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body
{
    color: #fff;
    height: 100%;
    overflow: hidden;
    background: #000;
    height: 100%;
    font-family: 'Helvetica Neue', 'Helvetica-Neue', "district_prothin", 'Helvetica', 'arial', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

a
{
    color: #DDD;
    cursor: pointer;
}

a:hover
{
    text-decoration: none;
}

#header
{
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    height: 32px;
    background-color: #000000;
    z-index: 2000;
    line-height: 32px;
    color: #AAAAAA;
    font-size: 12px;
}

#wwib
{
    color: #fff;
    text-decoration: none;
}

#wwib a:hover
{
    color: #fff;
    text-decoration: none;
}

.big-text
{
    font-weight:100;
    font-size: 36px;
    line-height: 1.1;
    -webkit-font-smoothing: subpixel-antialiased;
}

.small-text
{
    font-size: 15px;
}

.smaller-text
{
    font-size: 13px;
    font-weight: normal;
}

.container
{
    z-index: 100;
}

#backgound-container
{
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
}

.full-background {
    width: 100%;
    height: 100%;
    position: fixed;
    background:url(../img/backgrounds/rain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#create-your-own-container
{
    padding-left: 40%;
}

#create-your-own
{
    margin-left: 17px;
    line-height: 32px;
    height: 100%;
    display: inline-block;
}

#background-pattern {
    position: fixed;
    top: 0px;
    left: 0;
    background: url(../img/bg-pattern.png) top right repeat;
    width: 100%;
    height: 100%;
}

#left-column
{
    height: 100%;
}

#wwib-wrapper
{
    width: 40%;
    min-width: 175px;
    padding-right: 25px;
}

#noun-list-wrapper
{
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#noun-list-container
{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 150%;
    padding-left: 40%;
}

#main-container
{
    height: 100%;
    display: none;
}

#noun-list
{
    padding-left: 20px;
}

#noun-list li
{
    height: 64px;
    cursor: pointer;
    width: auto;
}

textarea:focus, input:focus, button:focus{
    outline: 0;
}

#questionmark
{
    position: absolute;
    top: 3px;
    right: 15px;
}

#search-field-container
{
    position: absolute;
    top: -9px;
    right: 0;
    border: 1px rgba(255,255,255,0.2) solid;
    width: 60%;
}

.input-label
{
    margin-top: 8px;
}

.row.space
{
    margin-bottom: 15px;
}

#search-field
{
    width: 87%;
    margin: 0;
    background-color: transparent;
    border: none;
    padding: 5px 0px 10px 20px;
}

#response
{
    position: relative;
    top: 185px;
}

#answer-source-container
{
    position: absolute;
    left:0;
    top:-40px;
}

#address-input-container
{
    margin-top: 25px;
}

#answer-time
{
    font-family: 'Bebas', sans-serif;
    font-size: 72px;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
}

#loader
{
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 9px;
    padding-left: 18px;
}

#countdown
{
    font-family: 'Bebas', sans-serif;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 2px;
}

#countdown .time-container
{
    float: left;
    width: 80px;
}

#countdown div.time
{
    font-family: 'Bebas', sans-serif;
    font-size: 25px;
    margin-right: 5px;
    -webkit-font-smoothing: antialiased;
}

input.custom
{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0,0,0,0.5);
    border: 1px rgba(255,255,255,0.5) solid;
    height: 36px;
    width: 100%;
}

#address-input
{
    width: 300px;
    max-width: 320px;
}

#address-find-button
{
    background-color: rgba(0,0,0,0.5);
    border: 1px rgba(255,255,255,0.5) solid;
    border-left: none;
    height: 36px;
    width: 62px;
}

#address-lookup-error
{
    color: #E9C25D;
}

#address-results
{
    padding-top: 5px;
    background-color: rgba(0,0,0,0.5);
    border: 1px rgba(255,255,255,0.5) solid;
    display: none;
    width: 362px;
    border-top: none;
    max-height: 160px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#address-results li
{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    font-weight: bold;
}

#address-results li:first-of-type
{
    font-weight: normal;
}

#address-find-button:hover
{
    background-color: rgba(255,255,255,0.5);
}

#event-tools-wrapper
{
    font-size: 12px;
    margin-top: 15px;
}

#event-tools-wrapper li
{
    padding-bottom: 5px;
}

#copyright-footer
{
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 11px;
    font-weight: normal;

}

#copyright-footer a
{
    opacity: 0.3;
}

#copyright-footer a:hover
{
    opacity: 1;
}

#background-attribution-container
{
    position: absolute;
    z-index: 200;
    right: 10px;
    color: #fff;
    font-size: 11px;
    display: none;
    opacity: 0.3;
    font-weight: normal;
}

#background-attribution-container a
{
    color: #fff;
}

a:hover.text-button
{
    text-decoration: none;
}

.text-button::before,
.text-button::after
{
    display            : inline-block;
    opacity            : 0;
    -webkit-transition : -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition    : -moz-transform 0.3s, opacity 0.2s;
    transition         : transform 0.3s, opacity 0.2s;
}

.text-button::before
{
    margin-right      : 5px;
    content           : '[';
    -webkit-transform : translateX(10px);
    -moz-transform    : translateX(10px);
    transform         : translateX(10px);
}

.text-button::after
{
    margin-left       : 5px;
    content           : ']';
    -webkit-transform : translateX(-10px);
    -moz-transform    : translateX(-10px);
    transform         : translateX(-10px);
}

.text-button:hover::before,
.text-button:hover::after,
.text-button:focus::before,
.text-button:focus::after
{
    opacity           : 1;
    -webkit-transform : translateX(0px);
    -moz-transform    : translateX(0px);
    transform         : translateX(0px);
}

::-webkit-input-placeholder {
    opacity: 0.5;
}

:-moz-placeholder { /* Firefox 18- */
    opacity: 0.5;
}

::-moz-placeholder {  /* Firefox 19+ */
    opacity: 0.5;
}

:-ms-input-placeholder {
    opacity: 0.5;
}

@media (max-width: 1200px) {

    .big-text
    {
        font-size: 25px;
    }

    #address-input
    {
        height: 37px;
        width: 160px;
    }

    #address-find-button
    {
        height: 37px;
    }

    #address-results
    {
        width: 222px;
    }

    #countdown
    {
        font-size: 9px;
    }

    #answer-time
    {
        font-size: 46px;
    }

    #address-find-button
    {
        height: 37px;
    }

    #loader
    {
        padding-top: 2px;
    }

    #wwib-wrapper
    {
        text-align: left;
        width: 270px;
    }

    #noun-list-container
    {
        padding-left: 165px;
    }

    #create-your-own-container
    {
        padding-left: 171px;
    }

    #create-your-own
    {
        margin-left: 0;
    }

    #response
    {
        top: 192px;
    }

    #search-field-container
    {
        position: absolute;
        left: 165px;
        width: auto;
    }

    #countdown .time-container
    {
        width: 55px;
    }

    .small-text
    {
        font-size: 14px;
    }
}